@import "../../07_Style_Variables/Variables/Fonts_And_Styles.scss";

.chat_container {
  height: calc(100vh - 150px);
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
h1 {
  font-size: $font_md_5;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
