@import "../../07_Style_Variables/Variables/Fonts_And_Styles.scss";
@mixin mobile {
  @media (max-width: 480px) {
    height: calc(100vh - 25vh);
  }
}
.chat_container {
  @include mobile;
  height: calc(100vh - 20vh);
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
h1 {
  font-size: $font_md_5;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
