@import "../../07_Style_Variables/Variables/Fonts_And_Styles.scss";

.chat_container {
  height: calc(100vh - 113px);
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  h1 {
    text-align: center;
    font-size: $font_md_5;
  }
}
