@import "../../07_Style_Variables/Variables/Fonts_And_Styles.scss";

@mixin setting_modal {
  position: absolute;
  right: 0;
  top: 2rem;
  font-weight: bold;
  box-shadow: 2px 2px 4px #888888;
  height: 100px;
  transition: transform 0.1s linear;
  overflow: hidden;
  border-radius: 20px;
  width: 94%;
  z-index: 99;

  z-index: 4;
  margin: 0 1rem;
  & > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 2rem;
    width: 100%;
    & > * {
      margin: 1rem 1.5rem;
    }
  }
}

.setting_modal_invisible {
  @include setting_modal();
  transform: translateY(-150%);
}
.setting_modal_visible {
  @include setting_modal();
  transform: translateY(0);
}
.setting_closer::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00000065;
}
