@import "../../07_Style_Variables/Variables/Fonts_And_Styles.scss";

.setting {
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
  z-index: 900;
  .create_setting_icon {
    animation: rotate4 2s linear infinite;
    font-size: 3rem;
  }
  .tooltip_setting {
    position: absolute;
    top: 4.5rem;
    text-align: center;
    left: 0rem;
    transform: scale(0);
    font-size: 0.7rem;
    transition: transform 0.3s ease;
    user-select: none;
    font-weight: bold;
  }
  &:hover {
    .tooltip_setting {
      transform: scale(1);
    }
  }
}
